doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/materialize.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/jquery-ui-1.12.1.custom/jquery-ui.js')
    script(src='app.js')
  body
    .wrapper
      .upper
        .container
          .left
            .logo
              img(src='', alt='')
          .right
            .right_up
              .right_up_lang
                .ain
                  a(href='') Рус
                  a(href='') Укр
              .right_up_number
                p +3805729085
                p +3805939138
            .right_down
              ul.nav
                li
                  a(href='/faq') Вопрос-Ответ
                li
                  a(href='/about') О Нас
                li
                  a(href='/contact') Контакты
                li
                  a(href='/catalogue') Услуги
                li
                  a(href='/') Главная
      .carousel.carousel-slider.center.carusel_main(data-indicators='true')
        .carousel-fixed-item.center
          a.btn.waves-effect.white.grey-text.darken-text-2 Перейти к Услуге
        .carousel-item.white-text.slide_first(href='')
          h2.slide_text Услуги По Проблемным Кредитам
          p.white-text
        .carousel-item.white-text.slide_second(href='')
          h2.slide_text Регистрация Предпринимательства(ТОВ, ФОП)
          p.white-text
        .carousel-item.white-text.slide_three(href='')
          h2.slide_text Представительства Интересов в Судах
          p.white-text
        .carousel-item.white-text.slide_four(href='')
          h2.slide_text Трудовые Споры
          p.white-text
      .container
        .row
          .grid-example.col.s12.m12.l4.xl4
            .slide_block
              .toggler
                .effect
                  h5.ui-widget-header.ui-corner-all Консультация
                  p
                    | Устная или письменная консультация по вопросам Клиента.
          .grid-example.col.s12.m12.l4.l4
            .slide_block
              .toggler
                .effect
                  h5.ui-widget-header.ui-corner-all Подготовка к Процессу
                  p
                    | Збор необходимых документов сведений и их анализ для начала юридического процесса.
          .grid-example.col.s12.m12.l4.l4
            .slide_block
              .toggler
                .effect
                  h5.ui-widget-header.ui-corner-all Решение
                  p
                    | Оптимальное и выгодное решение по вопросам Клиента.
      br
      .container.plot_details
        .plot
          p
            | Наша юридическая компания является залогом вашего успеха. Приемущество нашей компании заключается в первую очередь в индивидуальном подходе к каждому делу-отношению к Клиенту, профессиональной и качественной юридической помощи, а так же практикуется Pro bono.
          .fixed-action-btn.horizontal.click-to-toggle
            a.btn-floating.btn-large.amber(href='/contact')
              i.material-icons phone

      footer#down_side
        p @ All Rights Reserved 2017
    script(src='js/materialize.js')
    script(src='js/js.js')
