.wrapper
    .upper
        .container
            .left
                .logo
                    img(src='', alt='')
            .right
                .right_up
                    .right_up_lang
                        .ain
                            a(href='') Рус
                            a(href='') Укр
                    .right_up_number
                        p +3805729085
                        p +3805939138
                .right_down
                    ul.nav
                        li
                            a(href='/faq') Вопрос-Ответ
                        li
                            a(href='/about') О Нас
                        li
                            a(href='/contact') Контакты
                        li
                            a(href='/catalogue') Услуги
                        li
                            a(href='/') Главная