doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title service_menu1
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/materialize.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/jquery-ui-1.12.1.custom/jquery-ui.js')
  body#catalogue_body
    h2.catalogue_subject Наши Услуги1
    hr
    .service_menu
      p
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus est facere laboriosam maxime perspiciatis, provident quidem repellat voluptas?
    footer#down_side
      p @ All Rights Reserved 2017
    script(src='js/materialize.js')
    script(src='js/js.js')
